// Theme color 
$light-background: hsl(0, 0%, 100%);
$heading-dark-text: hsl(208, 49%, 24%);
$subtitle-dark-text: hsl(207, 13%, 34%);

$dark-background: hsl(240, 10%, 16%);
$heading-light-text: hsl(0, 0%, 100%);
$suptitle-light-color: hsl(240, 2%, 79%);



// Praimary color
$CTA-text-color:hsl(356, 100%, 66%);
$CTA-hover-color: hsl(355, 100%, 74%);
$headings-color: hsl(208, 49%, 24%);
// Neutral color
$N-white-text:hsl(0, 0%, 100%);
$Footer-text-color: hsl(240, 2%, 79%);
$body-copy-color: hsl(207, 13%, 34%);
$Footer-bg-color: hsl(240, 10%, 16%);
// Gradient color
// Background gradient - Intro/CTA mobile nav:
$G-intro-cta-color-light: hsl(13, 100%, 72%);
$G-intro-cta-color-dark: hsl(353, 100%, 62%);
//  Background gradient - body:
$G-body-darker: hsl(237, 17%, 21%);
$G-body-dark: hsl(237, 23%, 32%);

$cultured: hsla(240, 7%, 94%, 1);
$dark-electric-blue: hsla(214, 13%, 44%, 1);
$charcoal: hsla(208, 27%, 26%, 1);

// Fonts
$Overpass:'Overpass',
sans-serif;
$Ubuntu:'Ubuntu',
sans-serif;


// $spaceamounts: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100);
// $sides: ("": "all",
//     "t": "top",
//     "b": "bottom",
//     "l": "left",
//     "r": "right",
// );

// @each $space in $spaceamounts {

//     @each $prefix,
//     $value in $sides {
//         $property: if($prefix=='', '', -#{$value});

//         .m#{$prefix}#{$space} {
//             margin#{$property}: #{$space}px;
//         }

//         .p#{$prefix}#{$space} {
//             padding#{$property}: #{$space}px;
//         }
//     }
// }



